
/* -------------------------------------- */
/* Temporary styling taken from yii's default style main.css + form.css
/* You will probably want to delete all of these and modify the view
/* code to use proper bootstrap syntax
/* -------------------------------------- */

div.form
{
}

div.form input,
div.form textarea,
div.form select
{
    margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
}

div.form label
{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div.form .row
{
    margin: 5px 0;
}

div.form .row.buttons
{
    padding: 5px;
    margin: 10px 0;
}

div.form .row.buttons input
{
    margin: 0;
}

div.form .hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

div.form .note
{
    font-style: italic;
}

div.form span.required
{
    color: red;
}

div.form div.error label,
div.form label.error,
div.form span.error
{
    color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    background: #FEE;
    border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
    background: #E6EFC2;
    border-color: #C6D880;
}


div.form .errorSummary
{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}

div.form .errorMessage
{
    color: red;
    font-size: 0.9em;
}

div.form .errorSummary p
{
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul
{
    margin: 0;
    padding: 0 0 0 20px;
}

div.wide.form label
{
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: right;
    width: 100px;
}

div.wide.form .row
{
    clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
    clear: left;
    padding-left: 110px;
}

div.form .tooltip
{
    display: none;
    background-color:#EFFDFF;
    border:1px solid #79B4DC;
    padding: 10px;
    width: 300px;
}

div.form .tooltip ul
{
    margin: 0;
    padding: 10px 0 0 20px;
}

div.form .tooltip code
{
    color: #CA0EE3;
    font-size:0.9em;
}

div.form.login
{
    border: 1px solid #C9E0ED;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.form.login p
{
    margin: 0 0 10px 0;
}



div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}


#header {
    background:transparent url("../images/mitos.jpg") no-repeat center center;
    background-size: contain;
    /*width:1140px;*/
    height:200px;
    text-indent: 1em;
}

#header h1{
    vertical-align: center;
    /*color: white;*/
    line-height: 200px;
    margin-top: 0px!important;
}

